.navbar-main {
    background-color: #34495e !important;
    font-family: 'Open Sans', sans-serif;
}

.navbar-title {
    font-size: clamp(1.1rem, 1.5vw + 0.3rem, 2rem);
    color: white;
}

.nav-button {
    font-size: clamp(0.9rem, 1vw + 0.2rem, 1.3rem);
    background-color: #34495e;
    color: white !important;
    transition: all 0.3s ease;
}

.nav-button:hover {
    color: #ffffff !important;
    background-color: #2c3e50;
    border-color: #1a65cc;
}

.navbar-toggler {
    background-color: transparent !important;
    border: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}